body {
	background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu {
    width: 659px;
    height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool{
  margin-left:90px;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .ryu-shoryuken {
  width: 659px;
  height: 494px;
}

.ryu-shoryuken {
  background-size: 659px 494px;
  
}

.ryu-ready, .ryu-throwing, .ryu-cool, .ryu-shoryuken {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-shoryuken {
  background-image: url('../images/ryu-shoryuken.gif');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
  }

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .ryu-shoryuken {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 167px;
  left: 610px;
}

.directions {
  display: flex;
  color: white;
  margin: 0 auto;
  list-style: none;
  width: 70%;
}

li {flex: 1;}